.modify-container {
  display: flex;
  align-items: space-around;
  background-color: #87ceeb;
  border: 2px #6495ed solid;
  border: 2px #db7734 solid;
  border-radius: 6px;
  padding: 20px;
  padding-top: 0px;
  padding-bottom: 5px;
  }

