.child-details-container {
  width: 80%;
  margin: auto;
  padding: 20px;
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  color: #333;
}

.child-name {
  font-size: 24px;
  margin-bottom: 10px;
}

.child-progress {
  margin-bottom: 20px;
}

.child-progress p {
  font-size: 18px;
  margin: 5px 0;
}

.child-courses {
  margin-bottom: 20px;
}

.course-details {
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 20px;
}

.course-details h4 {
  font-size: 20px;
  margin-bottom: 5px;
}

.course-details p {
  margin: 0;
  font-size: 16px;
}

.course-details h5 {
  font-size: 18px;
  margin-top: 10px;
}

.child-assignments ul {
  list-style: none;
  padding: 0;
}

.child-assignments li {
  margin-bottom: 10px;
  padding-left: 20px;
  position: relative;
  font-size: 16px;
}

.child-assignments li::before {
  content: "•";
  position: absolute;
  left: 0;
  color: #2ecc71;
}

.child-grades li {
  margin-bottom: 10px;
  padding-left: 20px;
  position: relative;
  font-size: 16px;
}

.child-grades li::before {
  content: "•";
  position: absolute;
  left: 0;
  color: #3498db;
}

.child-section-heading {
  font-size: 18px;
  margin-bottom: 10px;
}

/* for added components */

.teacher-list {
  margin-bottom: 20px;
}

.teacher-list ul {
  list-style: none;
  padding: 0;
}

.teacher-list li {
  margin-bottom: 5px;
  cursor: pointer;
  transition: color 0.2s;
}

.teacher-list li:hover {
  color: #6495ed;
}

.message-form {
  margin-bottom: 20px;
}

.message-form textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.button-container {
  display: flex;
  gap: 2rem;
}

.message-form button {
  background-color: #6495ed;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 8px 12px;
  cursor: pointer;
  transition: background-color 0.2s;
}

.message-form button:hover {
  background-color: #0056b3;
}

.message-threads {
  margin-bottom: 20px;
}

.message-threads .message {
  background-color: #f0f0f0;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
}

.message-threads .message.sender {
  background-color: #6495ed;
  color: #fff;
}

.message-threads .message.receiver {
  background-color: #87ceeb;
}

/* NotificationsPopOut.css */
.notifications-pop-out {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  width: 300px;
  background-color: #fff;
  box-shadow: -3px 0px 10px rgba(0, 0, 0, 0.2);
  overflow-y: auto;
  padding: 20px;
}

.close-button {
  float: right;
  background: none;
  border: none;
  cursor: pointer;
  font-size: 18px;
  color: #888;
}

.close-button:hover {
  color: #333;
}

.notifications-list {
  list-style: none;
  padding: 0;
}

.notification-item {
  margin-bottom: 10px;
  border-bottom: 1px solid #ddd;
  padding-bottom: 10px;
  font-size: 14px;
}

.notification-type {
  font-weight: bold;
  color: #333;
}

/* for meeting form */

.schedule-meeting-form {
  margin-top: 20px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f5f5f5;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.schedule-meeting-form h3 {
  font-size: 18px;
  margin-bottom: 10px;
}

.schedule-meeting-form input {
  width: 100%;
  padding: 8px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 3px;
}

.schedule-meeting-form button {
  display: block;
  width: 5%;
  padding: 10px;
  background-color: #6495ed;
  color: #fff;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
}

.schedule-meeting-form button:hover {
  background-color: #0056b3;
}
.meeting-message {
  margin-top: 10px;
  padding: 10px;
  border: 1px solid #ccc;
  background-color: #f7f7f7;
  border-radius: 5px;
}

.success-message {
  background-color: #d4edda;
  color: #155724;
  border: 1px solid #c3e6cb;
}

.error-message {
  background-color: #f8d7da;
  color: #721c24;
  border: 1px solid #f5c6cb;
}
