/* body {
  margin: 8px;
  margin-top: 0px;
  background: linear-gradient(to bottom, #87ceeb, #6495ed);
  color: ghostwhite;
} */

/* .parent-container {
} */

.parent-image {
  width: 80px;
  height: 80px;
  background-color: #3498db;
  border-radius: 50%;
  margin-right: -10px;

  border: 2px solid ghostwhite;
}

.greeting_parent {
  margin-top: 20px;
  display: flex;
  gap: 30px;
}

.choose-section h2 {
  font-size: 2rem;
}

.choose-section {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card-selection {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 50%;
  /* max-width: 800px;  */
  margin: 0 auto;
  padding: 20px;
  gap: 1rem;
  margin-top: 2rem;
}

.card-select {
  flex: 1;
  background-color: #db7734;
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 20px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s;
  text-align: center;
  font-size: 1.5rem;
}

.card-select:hover {
  transform: translateY(-5px);
}

.image-container {
  width: 400px;
  height: 200px;
  border: 1px solid #ccc;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  margin-top: 3rem;
}

.image-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.imagePlusParagraph {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 3rem;
  padding-bottom: 5rem;
}

.quote {
  width: 30%;
}

.quote p {
  width: 80%;
  padding-left: 2rem;
  font-size: 1.2rem;
  font-weight: bold;
}

.selectChildModal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.selectChildModal h3 {
  margin-bottom: 20px;
}

.selectChildModal ul {
  list-style: none;
  padding: 0;
}

.selectChildModal li {
  padding: 10px;
  border-bottom: 1px solid #ccc;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.cancel-button {
  margin-top: 10px;
  padding: 5px 10px;
  background-color: #db7734;
  border: none;
  color: white;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.cancel-button:hover {
  background-color: #cf850f;
}

.selectChildModal li:hover {
  color: #cf850f;
}
