/* CompletedAssignments.css */
.completed-assignments {
  margin-top: 20px;
  background-color: #e8762a; /* Light gray background color */
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.completed-assignments h2 {
  font-size: 18px;
  margin-bottom: 10px;
}

.completed-assignments ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.completed-assignments li {
  margin-bottom: 5px;
}
