.entry-container {
  display: flex;
  align-items: center;
  background-color: #6495ed;
  border: 2px #db7734 solid;
  border-radius: 6px;
  padding: 20px;
}

.entry-container h3 {
  margin: 0 20px;
  flex: 1;
}

.buttons-container {
  display: flex; /* Flex container for buttons */
  gap: 10px; /* Add a gap between buttons */
  width: 150px; /* Set a fixed width for the button container */
  flex-shrink: 0; /* Prevent the button container from shrinking */
}
